<div id="<%= dom_id profile %>">
  <p>
    <strong>Nombre completo:</strong>
    <%= profile.nombre_completo %>
  </p>

  <p>
    <strong>Fecha de nacimiento:</strong>
    <%= profile.fecha_de_nacimiento %>
  </p>

  <p>
    <strong>Nacionalidad:</strong>
    <%= profile.nacionalidad %>
  </p>

  <p>
    <strong>Experiencia:</strong>
    <%= profile.experiencia %>
  </p>

  <p>
    <strong>Teléfono:</strong>
    <%= profile.telefono %>
  </p>

  <p>
    <strong>Nombre emergencia:</strong>
    <%= profile.nombre_emergencia %>
  </p>

  <p>
    <strong>Telefono emergencia:</strong>
    <%= profile.telefono_emergencia %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

</div>
