<br>
<br>
<br>
<br>
<div>
  <div class="container">
    <div style="background-color: white; padding: 30px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <br>
      <h2 style="font-family: 'IM Fell DW Pica SC', serif"><i class="fas fa-user"  style="color: #2078AD;"></i> PERFIL DE USUARIO</h2>
      <hr>
      <br>
      <div class="text-center">
       <% if  @profile %>
       <% if @profile.photo.attached? %>
        <%= cl_image_tag @profile.photo.key, height: 500, width: 500, crop: :fill, class: "avatar-profile" %>
        <% else %>
        <%= image_tag("user-boat.png", height: 200)%>
        <% end %>

       <br>
       <br>
       <p><i class="fas fa-user"></i> Nombre de Usuario: <%= @profile.nombre_completo %></p>
       <p><i class="fas fa-flag"></i> Nacionalidad : <%= @profile.nacionalidad %></p>
       <p><i class="fas fa-calendar"></i> Año: <%= @profile.fecha_de_nacimiento %></p>
       <%if current_user.id == @profile.id%>
       <i class="fas fa-pencil"></i> <%= link_to "Editar", edit_profile_path(@profile)%>
       <% end %>
       <br>

      <hr>
      <br>
      <br>
      <% else %>
      <%= image_tag("user-boat.png")%>
      <br>
      <a class="btn btn-boat" href="/profiles/new"><i class="fas fa-user"></i> Registrar Perfil</a>

      <br>

      <br>

      <hr>
      <br>
      <br>
    </div>
    <%end%>
  </div>
</div>
</div>
<br>
<br>
