<br>
<br>
<br>
<br>
<div>
  <div class="container">
    <div style="background-color: white; padding: 30px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <br>
      <h2 style="font-family: 'IM Fell DW Pica SC', serif"><i class="fas fa-user"  style="color: #2078AD;"></i> PERFIL DE USUARIO</h2>
      <hr>
      <div class="text-center">
       <% if  @profile %>
       <%= image_tag "user-boat.png", height: "200" %>
       <br>
       <p><i class="fas fa-user"></i> Nombre de Usuario: <%= @profile.nombre_completo %></p>
       <p><i class="fas fa-flag"></i> Nacionalidad : <%= @profile.nacionalidad %></p>
       <p><i class="fas fa-calendar"></i> Año: <%= @profile.fecha_de_nacimiento %></p>
       <%if current_user.id == @profile.id%>
       <i class="fas fa-pencil"></i> <%= link_to "Editar", edit_profile_path(@profile)%>
       <% end %>
       <br>
       <br>
       <% if  current_user.vendedor == true %>
       <a class="btn btn-boat" href="/profiles/new"><i class="fas fa-store"></i> Registrar Producto</a>
       <% end %>
       <br>
       <br>
       <div class="row">
        <% if @profile.user.products %>
        <% @profile.user.products.each do |product| %>
        <div class="col-md-3">
          <%= link_to product_path(product) do %>
          <div style="padding-bottom: 20px">
            <div class="card-trip">
              <img src="https://images.pexels.com/photos/6761423/pexels-photo-6761423.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />
              <div class="card-trip-infos">
                <div>
                  <p><%= product.titulo %> </p>
                  <p><i class="fas fa-anchor" style="color: #2078AD;"></i> <%= product.categoria %></p>
                </div>
                <p class="card-trip-pricing"> <%= '%.2f' % product.precio %></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
        <% end %>
      </div>
      <hr>
      <br>
      <br>
      <% else %>
      <img src="https://i.ibb.co/Psk1BPj/EEC76D.png" height="240">
      <br>
      <a class="btn btn-boat" href="/profiles/new"><i class="fas fa-user"></i> Registrar Perfil</a>

      <br>

      <br>

      <hr>
      <br>
      <br>
    </div>
    <%end%>
  </div>
</div>
</div>
<br>
<br>
