<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style=" padding-left: 20px; padding-right: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto" style="padding-top: 8px;">

        <li class="nav-item active" style="padding-top: 4px;">
          <%= link_to "Home", "/", class: "nav-link" %>
        </li>
        <li class="nav-item" style="padding-top: 4px;">
          <%= link_to "Productos", "/products", class: "nav-link" %>
        </li>
        <li class="nav-item" style="padding-top: 4px;">
          <%= link_to "Cobertura", "/locations", class: "nav-link" %>
        </li>
        <li class="nav-item" style="padding-top: 4px;">
          <%= link_to "Nosotros", "/about_us", class: "nav-link" %>
        </li>
        <li class="nav-item" style="padding-top: 4px;">
          <%= link_to "Contacto", "/contact_us", class: "nav-link" %>
        </li>
        <% if user_signed_in? %>

          <% if current_order%>
          <div id="basket">
            <%= render 'baskets/basket' %>
          </div>
          <% end %>
      <li class="nav-item dropdown">
        <a href="/users/sign_in" class="nav-link text-uppercase" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-right: 15px;"> <h4 style="color: #2078AD;"><i class="fas fa-user"></i></h4></a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Perfil", "/profile", class: "dropdown-item" %>
          <%= link_to "Reservas", "/receipts", class: "dropdown-item" %>
          <%= link_to "Productos", "/your_products", class: "dropdown-item" %>
          <%= link_to "Clientes", "/your_clients", class: "dropdown-item" %>
          <%= button_to "Salir", destroy_user_session_path, method: :delete,  class: "dropdown-item"  %>
        </div>
      </li>
      <% else %>
      <li class="nav-item">
        <a href="/users/sign_in" class="nav-link text-uppercase " style="padding-right: 15px;"> <h4 style="color: #2078AD;"> <i class="fas fa-shopping-basket"></i> </h4></a>
      </li>
      <li class="nav-item">
        <a href="/users/sign_in" class="nav-link text-uppercase" style="padding-right: 15px;"> <h4 style="color: #2078AD;"><i class="fas fa-user"></i></h4></a>
      </li>
      <% end %>
    </ul>
  </div>
</div>
</div>
