


<div style="padding-top: 100px;">
  <div class="container">

    <br>
    <h1 style="margin-bottom: 0; font-family: 'IM Fell DW Pica SC', serif; color: #2078AD; font-size: 50px"><i class="fas fa-anchor" style="color: #2078AD;"></i>  Encuentra todo lo que necesitas para tu proxima aventura en el mar.</h1>
    <br>
    <br>
    <br>
    <p>
    El principio es simple: los propietarios pueden crear una lista gratuita para su barco agregando imágenes, una descripción, un precio y algunos consejos sobre el área de navegación. Los arrendatarios pueden contactarlos directamente con el servicio de mensajería de Click&Boat para hacer cualquier pregunta. Los propietarios pueden acceder al currículum náutico del arrendatario y elegir con confianza a los navegantes adecuados para sus barcos.Los arrendatarios pueden elegir entre varios cientos de barcos dentro de un área de navegación, beneficiándose de los comentarios de arrendatarios anteriores y pueden comunicarse con el propietario para asegurarse de que su viaje de navegación planificado se desarrolle sin problemas. ¿Por qué no empezar por buscar un barco?</p>
    <br>
    <br>
    <br>
    <br>
 <div class="container">
  <div class="row text-center categories">
    <div class="col-md-1"></div>
    <div class="col-md-2"><%= image_tag "4.png" %><h5 style=" font-family: 'IM Fell DW Pica SC', serif; color: #2078AD;">NAVES</h5></div>
    <div class="col-md-2"><%= image_tag "9.png" %><h5 style=" font-family: 'IM Fell DW Pica SC', serif; color: #2078AD;">TABLAS</h5></div>
    <div class="col-md-2"><%= image_tag "5.png" %><h5 style=" font-family: 'IM Fell DW Pica SC', serif; color: #2078AD;">TOURS</h5></div>
    <div class="col-md-2"><%= image_tag "7.png" %><h5 style=" font-family: 'IM Fell DW Pica SC', serif; color: #2078AD;">SERVICIOS</h5></div>
    <div class="col-md-2"><%= image_tag "8.png" %><h5 style=" font-family: 'IM Fell DW Pica SC', serif; color: #2078AD;">ACCESORIOS</h5></div>
    <div class="col-md-1"></div>
  </div>
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
  <div class="row">
    <div class="col-md-6">
      <div style="">
        <img src="https://www.marinemax.com/-/media/images/yachts/thumbnails/yacht-ownership-thumb.jpg" alt="" height="100%" width="100%">
        <br>
        <br>
      </div>
    </div>
    <div class="col-md-6">
      <div style="">
        <div class="">
          <h1 style="font-family: 'IM Fell DW Pica SC', serif; color: #2078AD;">¿Eres propietario de un bote?</h1>
        </div>
        <br>
        <p style="">Contactanos y conviertete en un proveedor. Unete a una lista gratuita para que su barco esté disponible para alquilar a otras personas. Yates, veleros, semirrígidas, lanchas a motor, catamaranes: todos son bienvenidos en Uboat. Fleta a quien quieras, cuando quieras y al precio que quieras. Te permitimos monetizar tu bote y te ayudamos a conectar con clientes cuando quieras y al precio que quieras.</p>
        <br>
        <a class="btn btn-boat" href="/contact_us">Quiero convertime en proveedor</a>
        <br>
      </div>
    </div>
  </div>
</div>

    <br>
    <br>
    <br>
  </div>
</div>
