<br>
<br>
<br>
<br>
<div>
  <div class="container">
    <div style="background-color: white; padding: 30px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <br>
      <h2 style="font-family: 'IM Fell DW Pica SC', serif"><i class="fas fa-user"  style="color: #2078AD;"></i> PERFIL DE USUARIO</h2>
      <hr>
      <br>
      <div class="text-center">
       <% if  @user.profile %>

       <% if @user.profile.photo.attached? %>
        <%= cl_image_tag @user.profile.photo.key, height: 500, width: 500, crop: :fill, class: "avatar-profile" %>
        <% else  %>
        <%= image_tag("user-boat.png", height: 200)%>
        <% end %>

      <br>
       <br>
       <p><i class="fas fa-user"></i> Nombre de Usuario: <%= @user.profile.nombre_completo %></p>
       <p><i class="fas fa-flag"></i> Nacionalidad : <%= @user.profile.nacionalidad %></p>
       <p><i class="fas fa-calendar"></i> Año: <%= @user.profile.fecha_de_nacimiento %></p>
       <%if current_user.profile.id == @user.profile.id%>
       <i class="fas fa-pencil"></i> <%= link_to "Editar", edit_profile_path(@user.profile)%>
       <% end %>
       <br>
         <div class="row">
          <% if current_user %>
             <div class="col-md-4">
              <a href="/your_products">
                <div class="card-categoryv2" style="background-color: #2078AD;">
                  <div style="">
                    <%= image_tag("1.png")%>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-4">
              <a href="/your_clients">
                <div class="card-categoryv2" style="background-color: #2078AD;">
                  <div style="">
                    <%= image_tag("2.png")%>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
            <div class="col-md-4">
                <a href="/receipts">
                <div class="card-categoryv2" style="background-color: #2078AD;">
                  <div style="">
                    <%= image_tag("3.png")%>
                  </div>
                </div>
              </a>
            </div>
          </div>
       <br>

       <hr>
       <br>
       <br>
       <% else %>
       <%= image_tag "user-boat.png", height: "200" %>
       <br>
       <br>
       <hr>
       <br>
       <br>
     </div>
     <%end%>
   </div>
 </div>
</div>
<br>
<br>
