<br>
<br>

<div>
  <div class="container" style='padding-top: 100px;'>
    <div style="background-color: white; padding: 30px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <h2 style="font-family: 'IM Fell DW Pica SC', serif;"><i class="fa fa-store"  style="color: #2078AD;"></i>Productos</h2>
      <hr>
      <% if current_user.admin  %>
      <div class="table-responsive">
       <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Total</th>
              <th scope="col">Fecha</th>
              <th scope="col">Estado</th>
              <th scope="col">Verifacion</th>
              <th scope="col"><i class="fas fa-eye"></i></th>
              <th scope="col"><i class="fas fa-pencil-alt"></i></th>
            </tr>
          </thead>

          <tbody>
            <% @products.each do |product| %>
            <tr>
              <th scope="row"><%= product.id %></th>
              <th scope="row"><%= product.titulo %></th>
              <th scope="row"><%= product.precio %></th>
              <th scope="row"><%= product.created_at %></th>
              <th scope="row"><%= product.activacion %></th>
              <th scope="row"><%= product.estatus %></th>
              <th scope="row"><%= link_to 'Ver', product %></th>
              <th scope="row"><%= link_to 'Editar', edit_product_path(product) %></th>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>
      <hr>
    </div>
    <% else %>
      <div class="">
       <br>
       <br>
         <div class="row">
        <% if current_user.products %>
        <% current_user.products.each do |product| %>
        <div class="col-md-3">
          <%= link_to product_path(product) do %>
          <div clas='card h-100' style="padding-bottom: 20px">
            <div class="card-trip">

              <img src="<%= cl_image_path product.photos[0].key, height: 300, crop: :fill %>" />
              <div class="card-trip-infos " style='height:100%;'>
                <div>
                  <p><%= product.titulo %> </p>
                  <p><i class="fas fa-anchor" style="color: #2078AD;"></i> <%= product.categoria %></p>
                </div>
                <p class="card-trip-pricing"> $<%= '%.2f' % product.precio %></p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>

      </div>
       <hr>
       <% if  current_user %>
        <a class="btn btn-boat" href="/products/new"><i class="fas fa-store"></i> Registrar Producto</a>
       <% end %>
       <br>
       <br>
       <% else %>
       <%= image_tag "user-boat.png", height: "200" %>
       <br>
       <hr>
       <br>
       <br>
     </div>
     <%end%>
   </div>
   <% end %>
 </div>
</div>
<br>
<br>
<br>
<br>
