<div class="banner" style="background-image:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/209978/pexels-photo-209978.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); ">
  <div class="container">
    <div class="" style=" background-color: white; width: 100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 10px;">
      <br>
      <div class="container">
        <div class="text-center">
          <h1 style="margin-bottom: 0; font-family: 'IM Fell DW Pica SC', serif; color: #2078AD;">ALQUILER DE EQUIPO MARINO</h1>
          <p style="font-family: 'Raleway', sans-serif;">Encuentra todo lo que necesitas para tu proxima aventura en el mar.</p>
        </div>
        <%= form_for(@search) do |f| %>
      <div class="row">
        <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <%= f.label :category, class: "form-label" %>
                <%= f.select :category, @categories, { prompt: "Select a category" }, { class: "form-select", id: "categories", onChange:"handleChange('subcategories', 'sub_categories', 'categories')"} %>
              </div>
              <div class="col-md-6">
                <%= f.label :subcategory, class: "form-label" %>
                <%= f.select :subcategory,[], {prompt: "Select a subcategory"}, { id: "sub_categories",  class: "form-select" }%>
              </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <%= f.label :province, class: "form-label" %>
                <%= f.select :province, @provinces,  { prompt: "Select a province" },{ class: "form-select", id: "province",  onChange:"handleChange('districts', 'district', 'province')"} %>
              </div>

              <div class="col-md-6">
                <%= f.label :district, class: "form-label" %>
                <%= f.select :district, [],  { prompt: "Select a district" }, { class: "form-select", id: "district",  onChange:"handleChange('states', 'corregimiento', 'district')" } %>
              </div>
            </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <%=f.submit 'Buscar', class: 'btn btn-boat space' %>
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <% end %>
        <br>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="row text-center categories">
    <div class="col-md-1"></div>
    <div class="col-md-2"><a href="/products"><%= image_tag "4.png" %><h5 style=" font-family: 'IM Fell DW Pica SC', serif; color: #2078AD;">NAVES</h5></a></div>
    <div class="col-md-2"><a href="/products"><%= image_tag "9.png" %><h5 style=" font-family: 'IM Fell DW Pica SC', serif; color: #2078AD;">TABLAS</h5></a></div>
    <div class="col-md-2"><a href="/products"><%= image_tag "5.png" %><h5 style=" font-family: 'IM Fell DW Pica SC', serif; color: #2078AD;">TOURS</h5></a></div>
    <div class="col-md-2"><a href="/products"><%= image_tag "7.png" %><h5 style=" font-family: 'IM Fell DW Pica SC', serif; color: #2078AD;">SERVICIOS</h5></a></div>
    <div class="col-md-2"><a href="/products"><%= image_tag "8.png" %><h5 style=" font-family: 'IM Fell DW Pica SC', serif; color: #2078AD;">ACCESORIOS</h5></a></div>
    <div class="col-md-1"></div>
  </div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="text-center">
    <h1 style="margin-bottom: 0; font-family: 'IM Fell DW Pica SC', serif; color: #2078AD;">ULTIMOS PRODUCTOS</h1>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
   <% @valid_products.reverse[0..3].each do |product| %>
   <% if product.activacion === 'Activo' and product.estatus === 'Valido' %>
   <div class="col-md-3">

      <%= render product %>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
<br>
<br>
<br>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://content.r9cdn.net/rimg/dimg/7d/3e/c3e5ad61-city-33356-16c4e19af0e.jpg?crop=true&width=1366&height=768&xhint=1586&yhint=1227)";>
  <div class="container">
  <div class="row">
    <div class="text-center">
      <h1 style="margin-bottom: 0; font-family: 'IM Fell DW Pica SC', serif; color: white; font-size: 60px;">Cobertura en Panamá</h1>
      <p style="color: white;">Conoce los Puertos Nacionales, Marinas, Lagos, Rios donde podras encontrar productos de UBoat. <br> A largo de las 9 provincia podras encotrar proveedores que facilitaran tu viaje. </p>
    </div>
  </div>
  <div class="row"> <div class="col-md-5"></div>  <div class="col-md-2"><%= link_to "Ver Ubicaciones", '/locations', class: 'btn btn-boat space' %></div>
  <div class="col-md-5"></div></div>
</div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div style="">
        <img src="https://www.marinemax.com/-/media/images/yachts/thumbnails/yacht-ownership-thumb.jpg" alt="" height="100%" width="100%">
        <br>
        <br>
      </div>
    </div>
    <div class="col-md-6">
      <div style="">
        <div class="">
          <h1 style="font-family: 'IM Fell DW Pica SC', serif; color: #2078AD;">¿Eres propietario de un bote?</h1>
        </div>
        <br>
        <p style="">Contactanos y conviertete en un proveedor. Unete a una lista gratuita para que su barco esté disponible para alquilar a otras personas. Yates, veleros, semirrígidas, lanchas a motor, catamaranes: todos son bienvenidos en Uboat. Fleta a quien quieras, cuando quieras y al precio que quieras. Te permitimos monetizar tu bote y te ayudamos a conectar con clientes cuando quieras y al precio que quieras.</p>
        <br>
        <a class="btn btn-boat" href="/contact_us">Quiero convertime en proveedor</a>
        <br>
      </div>
    </div>
  </div>
</div>
<script>

window.handleChange = function(url, destinyId, actionId){
  var selector = document.getElementById(destinyId);
  selector.innerHTML = '';
  var newOption = document.createElement('option');
  newOption.value = ""
  newOption.text = `Select a ${destinyId}`
  selector.appendChild(newOption);

  var param = $(`#${actionId}`).val()
  debugger
    $.ajax({
      type: "GET",
      dataType: "json",
      url: `/products/${param}/${url}`,
      success: function(data){
        debugger
       var value = data.value
        for(let i =0; i < (value && value.length); i++){
          var newOption1 = document.createElement('option');
          newOption1.value = value[i]
          newOption1.text = value[i]
          selector.appendChild(newOption1);
        }
      }
    });
}
</script>

