<div class="container">
 <div class=" " style="padding-top: 80px; padding-bottom: 100px;">
  <br>
  <br>
  <div class="row">
     <div class="col-md-6">
      <!-- Carousel -->
      <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
          <% @product.photos.each_with_index do | photo, index | %>
          <% if index == 0 %>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
          <% else %>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
          <% end %>
          <% end %>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          <% @product.photos.each_with_index do | photo, index | %>
          <% if index == 0 %>
          <div class="carousel-item active">
            <img src="<%= cl_image_path photo.key %>" alt="Los Angeles" class="d-block w-100">
          </div>
          <% else %>
          <div class="carousel-item">
            <img src="<%= cl_image_path photo.key%>" alt="Chicago" class="d-block w-100">
          </div>
          <% end %>
          <% end %>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>

    </div>
    <div class="col-md-6">
      <div style="background-color: white; padding: 30px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

      <h1><%= @product.titulo %></h1>
      <p><i class="fas fa-anchor"></i> Categoria: <%= @product.categoria %></p>
      <p><i class="fa-solid fa-sack-dollar"></i> Price: $<%= '%.2f' % @product.precio %></p>
      <% if @product and current_user  %>
      <%if current_user.id == @product.user.id%>
      <i class="fas fa-pencil"></i> <%= link_to "Editar", edit_product_path(@product)%> | <i class="fas fa-trash"></i> <%= link_to 'Eliminar', @product, data: { confirm: 'Are you sure?' },data: { "turbo-method": :delete }, remote: true %></td>
      <%end%>
      <%end%>
      <hr>
      <div style="display: flex; justify-content: space-between;" data-bs-toggle="collapse" data-bs-target="#data">
        <h4 class=""><i class="fas fa-info-circle"></i> Más Informacion </h4>
        <h4><i class="fa-solid fa-chevron-down "></i></h4>
      </div>
      <div id="data" class="collapse">
        <hr>

        <p>
          <strong> <i class="fas fa-circle"></i> Tipo:</strong>
          <%= @product.subcategoria %>
        </p>
         <p>
          <strong><i class="fas fa-file-alt"></i> Description:</strong>
          <%= @product.descripcion %>
        </p>
        <p>
          <strong><i class="fa-solid fa-location"></i> Ubicacion:</strong>
          <%= @product.provincia %>, <%= @product.distrito %>
        </p>

        <p>
          <strong><i class="fa-solid fa-user"></i> Propietario:</strong>
          <%= @product.user.profile.nombre_completo %>
        </p>



      </div>
      <hr>
      <% products = [] %>
      <% current_order.order_items.each do |x| %>
        <% products.append(x.product.id)  %>
      <% end %>
      <% if current_user %>
        <%= form_for @order_item, remote: true  do |f|%>
        <%= f.hidden_field :product_id, :value => @product.id %>
        <div style="display: flex;">
        <div style="padding-right: 20px;">
        <p>Desde</p>
        <%= f.date_field :start_date, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control', required: true  %>
        </div>
        <div>
        <p>Hasta</p>
        <%= f.date_field :end_date, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control', required: true  %>
        </div>
      </div>
        <br>
        <% if products.include? @product.id %>
          <a class="btn btn-boat" href='/baskets'><i class="fas fa-shopping-basket"></i>  Agregar</a>
        <% else %>
          <%= f.submit "Reservar", class: "btn btn-boat"%>
        <% end %>

        <% end %>
      <% else %>
        <a class="btn btn-boat" href='/users/sign_in'><i class="fas fa-shopping-basket"></i>  Agregar</a>
      <% end %>

      <br>

    </div>
    </div>
  </div>
</div>
<br>
<br>
</div>
