<br>
<br>
<div class="container">
  <div class="div" style="padding-top: 100px;">
    <div style="background-color: white; padding: 30px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      <% if current_user.admin  %>
      <h2><i class="fas fa-receipt" style="color: #2078AD;"></i>Reservas</h2>
      <hr>
      <div class="table-responsive">
       <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Total</th>
              <th scope="col">Fecha</th>
              <th scope="col">Estatus</th>
              <th scope="col"><i class="fas fa-eye"></i></th>
              <th scope="col"><i class="fas fa-pencil-alt"></i></th>
            </tr>
          </thead>

          <tbody>
            <% @receipts.each do |receipt| %>
            <tr>
              <th scope="row"><%= receipt.id %></th>
              <th scope="row"><%= receipt.first_name %> <%= receipt.last_name %></th>
              <th scope="row"><%= receipt.price %></th>
              <th scope="row"><%= receipt.created_at %></th>
              <th scope="row"><%= receipt.status %></th>
              <th scope="row"><%= link_to 'Ver', receipt %></th>
              <th scope="row"><%= link_to 'Editar', edit_receipt_path(receipt) %></th>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <br>
      <hr>
    </div>
    <% else %>
    <h2><i class="fas fa-receipt" style="color: #2078AD;"></i> Tus reservas</h2>
    <hr>
    <br>
    <div class="row">
      <% @receipts.each do |receipt| %>
      <% if receipt.payment_confirmation %>
      <% if current_user == receipt.user %>
      <div class="col-md-3">
        <div >
          <div class="" style="background-color: #2078AD;">
            <p style="color: white; margin-bottom: 0px !important; padding-left: 10px;">Reserva #<%= receipt.id %> </p>
          </div>
          <div>
            <% if current_user == receipt.user %>
            <% if receipt.receipt_items.first and receipt.receipt_items.first.product %>
            <% if receipt.receipt_items.first.product.photos[0] %>
            <div class="banner-receipt" style="background-image: url(<%= cl_image_path receipt.receipt_items.first.product.photos[0].key%>);">
            </div>
            <% end -%>
            <h3 style=""><%= receipt.receipt_items.first.product.titulo %></h3>
            <% else  %>
            <div style="background-color: #2078AD;">
            <div class="banner-receipt" style="background-image: url(<%= asset_path('8.png')%>);">
            </div>
            </div>
            <h3>Producto Eliminado</h3>
            <% end %>
            <div style="display: flex; justify-content: space-between; s">
            <p style="">$ <%= '%.2f' % receipt.price %></p>
            <p><%= receipt.created_at.strftime("%Y-%m-%d") %></p>
            </div>
            <%= link_to 'Ver', receipt, class: 'btn btn-boat' %>
            <% end %>
          </div>
          <br>
          <br>
        </div>
      </div>
      <% end %>
      <% end %>
      <% end %>
    </div>
    <hr>
    <% if  current_user %>
        <a class="btn btn-boat" href="/products"><i class="fas fa-store"></i> Ver Productos</a>
       <% end %>
    <% end %>
  </div>
</div>
</div>
<br>
<br>
<br>
<br>
