<br>
<br>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="div" style="">
      <div style="background-color: white; padding: 30px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
       <h2><i class="fas fa-receipt" style="color: #2078AD;"></i> Info. de compra</h2>
       <hr>
       <div id="container-form" >

        <%= simple_form_for(@receipt) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <h5><i class="fas fa-user" style="color: #2078AD;"></i> Contacto</h5>
          <div class="row">
            <div class="col-md-6"><%= f.input :first_name, required: true %></div>
            <div class="col-md-6"><%= f.input :last_name, required: true %></div>
          </div>
          <div class="row">
            <div class="col-md-6"><%= f.input :email, required: true %></div>
            <div class="col-md-6"><%= f.input :phone, required: true %></div>
          </div>
          <h5><i class="fas fa-truck" style="color: #2078AD;"></i> Envio y Facturacion</h5>

          <div class="row">
            <div class="col-md-6"><%= f.input :shipping_country, as: :string, required: true %></div>
            <div class="col-md-6"><%= f.input :shipping_city, as: :string, required: true %></div>
          </div>
          <div class="row">
            <div class="col-md-12"><%= f.input :shipping_address_line_1, required: true %></div>
          </div>
          <h5><i class="fas fa-align-justify" style="color: #2078AD;"></i> Nota</h5>
          <%= f.input :order_notes %>
        </div>

        <hr>

        <div class="basket-item">
          <div>
            <h4> Subtotal: <%= '%.2f' % current_order.subtotal %></h4>
            <h3> Total: <%= '%.2f' % current_order.subtotal %></h3>
          </div>
          <div>
            <div class="form-actions">
              <%= button_to receipts_path, method: :post, class: 'btn btn-boat' do %>

                <i class="fa-solid fa-credit-card"></i> Pagar con Visa o Mastercard

              <% end %>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
</div>
<br>
<br>
